@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
nav{
    position: fixed;
}
body
{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: url(img1.jpeg);
    background-size: cover;
    background-position: center;
}
li, a, button
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(21, 21, 18);
    text-decoration: none ;
}
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}
.logo
{
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
}
.logo:hover
{
    filter: saturate(5);
    transition: filter 0.4s ease-in-out;
}
.links
{
    list-style: none;
}
.links li
{
    display: inline-block;
    padding: 0px 20px;
}
.links li a
{
    transition: all 0.3s ease 0s;
    color: rgb(92, 245, 247);

}
.links li a:hover
{
    color: rgb(17, 93, 217);
}
html
{

    scroll-behavior: smooth;

}
button
{
    background-color: rgba(36,160,237,0.4);
    border: none;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
}
button:hover
{
    background-color: rgb(123, 246, 232);
}
h1
{
    text-align: center;
}
p
{
    text-align: center;
}
.buttons
{
    margin-left: 37%;
}
