@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url(img1.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contents form .user-details{
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.selects
{
  margin-right: 15px;

}
form .input-box span.details{
  display: block;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
button
{
    background-color: rgba(36,160,237,0.4);
    border: none;
    position: relative;
    padding: 9px 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 0px 35% ;
    margin-bottom: 10px;
}
button:hover
{
    background-color: rgb(64, 143, 246);
}
.title
{
  width: 70%;
  font-size: 1px;
}
span.dot
{
  margin-left: 25px;
}
